@using Vidly.Models

@model IEnumerable<Vidly.Models.Movie>

@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>


<table class="table table-bordered table-hover" id="Movies">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>

                @Html.DisplayNameFor(model => model.Genre)

            </th>

        </tr>
    </thead>


</table>
@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $("#Movies").DataTable({
                ajax: {
                    url: "/api/movies",
                    dataSrc: ""

                },
                columns: [
                    {
                        data: "name",
 
                    },
                    {

                        data: "genre.name"
                    },
                ]
            });

        });
    </script>
}
